[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = git@github.com:lervag/vimtex.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "pathogen"]
	path = pathogen
	url = git@github.com:tpope/vim-pathogen.git
